@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

h1 {
    font-weight: 600;
    font-size: 1.5rem;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.wrapper {
    display: flex;
}

.main {
    min-height: 100vh;
    width: 100%;
    overflow-y: hidden;
    transition: all 0.35s ease-in-out;
    background-color: #fafbfe;
}

#sidebar {
    width: 70px;
    min-width: 70px;
    z-index: 1000;
    /* transition: all .5s ease-in; */
    background-color: #111010;
    display: flex;
    flex-direction: column;
}

#sidebar.expand {
    width: 260px;
    min-width: 260px;
}

.toggle-btn {
    background-color: transparent;
    cursor: pointer;
    border: 0;
    padding: 1rem 1.5rem;
}

.toggle-btn i {
    font-size: 1.5rem;
    color: #fff;
}

.logoBtn {
    width: 50px;
    margin-left: -10px;
}

.sidebar-logo {
   margin-top:auto;
   margin-bottom: auto;
}

.sidebar-logo a {
    color: #fff;
    font-size: 1.15rem;
    font-weight: 900;
}

.adminImg {
    width: 40%;
    margin-bottom: 5px;
}

.adminName {
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 25px;
}

#AdminBadge {
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
}

.containerAdBadge {
    background-color: #f2f2f2;
    width: 90px;
    border-radius: 15px;
}

.badge {
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    color: #111010;
}

#sidebar:not(.expand) .sidebar-logo,
#sidebar:not(.expand) a.sidebar-link span {
    display: none;
}

#sidebar:not(.expand) .adminImg {
    width: 50px;
}

#sidebar:not(.expand) .adminName {
    display: none;
}

#sidebar:not(.expand) #AdminBadge{
    display: none;
}

.sidebar-nav {
    padding: 2rem 0;
    flex: 1 1 auto;
}

a.sidebar-link {
    padding: .625rem 1.625rem;
    color: #fff;
    display: block;
    font-size: 0.9rem;
    white-space: nowrap;
    border-left: 3px solid transparent;
}

.sidebar-link i {
    font-size: 1.1rem;
    margin-right: .75rem;
    font-weight: 500;
    color: #f4b300;
}

a.sidebar-link:hover {
    background-color: rgba(255, 255, 255, .075);
    border-left: 3px solid #f4b300;
}

.sidebar-item {
    position: relative;
}

#sidebar:not(.expand) .sidebar-item .sidebar-dropdown {
    position: absolute;
    top: 0;
    left: 70px;
    background-color: #f4b300;
    padding: 0;
    min-width: 15rem;
    display: none;
}

#sidebar:not(.expand) .sidebar-item:hover .has-dropdown+.sidebar-dropdown {
    display: block;
    max-height: 15em;
    width: 100%;
    opacity: 1;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"]::after {
    border: solid;
    border-width: 0 .075rem .075rem 0;
    content: "";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    top: 1.4rem;
    transform: rotate(-135deg);
    transition: all .2s ease-out;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"].collapsed::after {
    transform: rotate(45deg);
    transition: all .2s ease-out;
}

/* widget */
.widget {
    border-radius: 20px 20px 0 0;
    padding: 5px 20px;
    color: #fff;
    justify-content: center;
    align-items: center;
    height: 160px;
    width: 100%;
    height: 70%;
    position: relative;
}

.stats-icon {
    color: #fff;
    opacity: 0.5;
    font-size: 100px;
    position: absolute; 
    top: 20px; 
    right: 20px;
}

.stats-info {
    overflow: hidden;
}

.stats-info h5{ 
    margin: 0; 
    font-size: clamp(16px, 2vw, 20px); 
    font-weight: 600; 
    padding: 10px;
} 

.stats-info h3 { 
    margin: 0; 
    font-size: 50px; 
    font-weight: 700;
    padding-top: 10px;
    text-align: center; 
}

.stats-link {
    width: 100%;
    padding: 15px;
    border-radius: 0px 0px 20px 20px;
    margin-bottom: 20px;
    text-align: center;
}

.stats-content { 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    width: 100%; 
}

.stats-link a{
   color: #fff;
   font-weight: 600;
   letter-spacing: 0.5px;
}

.stats-link i{
    font-size: 25px;
    position: relative;
    text-align: end;
}

/* most view */
.container { 
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-around; 
    padding: 15px;
}

.most-viewed { 
    background-color: #161616;
    padding: 20px; 
    border-radius: 5px; 
    max-width: 200%; 
    margin: 20px auto; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
} 

.header-mv { 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    border-bottom: 1px solid #ddd; 
    padding-bottom: 10px; 
} 

.header-mv h2 { 
    margin: 0;
    color: #fff;
    font-weight: 600;
} 

.view-more { 
    color: #fff; 
    text-decoration: none; 
    font-size: 14px; 
} 

.view-more:hover { 
    text-decoration: underline; 
} 

.movies { 
    display: flex; 
    justify-content: space-between; 
    padding-top: 20px; 
} 

.movie { 
    text-align: center; 
    flex: 1; 
    margin: 0 10px; 
} 

.movie img { 
    max-width: 100%; 
    border-radius: 15px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
} 

.movie-name { 
    margin-top: 10px; 
    font-size: 14px; 
    color: #fff; 
} 
    
.new-release, .active-user { 
    background-color: #161616; 
    padding: 20px; 
    border-radius: 10px; 
    align-items: center;
    justify-content: center;
    width: 100%;
}

.new-release h2, .active-user h2 { 
    color: #ffff; 
    font-size: clamp(15px, 2vw,20px);
}

.new-release span, .active-user span {
    color: #ffcc00;;
} 

.new-release .grid { 
    display: grid; 
    grid-template-columns: repeat(3, 1fr); 
    gap: 10px; 
} 

.new-release .grid-item { 
    height: 35px; 
}

.new-release a { 
    color: #ffcc00; 
    text-decoration: none; 
    display: block; 
    margin-bottom: 10px; 
} 

.new-release a:hover { 
    text-decoration: underline; 
} 

.nwRelease {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nwRelease a{
    font-size: clamp(9px, 2vw, 13px);
}

.active-user .user-info { 
    display: flex; 
    align-items: center; 
    color: #fff;
    position: relative;
    font-size: 30px;
    font-weight: 600;
    justify-content: center;
} 

.active-user .user-icon { 
    font-size: clamp(120px, 11vw, 140px);
    border-radius: 50%; 
    position: absolute;  
    right: -20px;
    bottom: -45px;
    color: #ffffff6e;
    margin-right: 10px; 
}

/* Responsivess */ 

@media (max-width: 768px) 
{ 
    .movies { 
        flex-direction: column; 
        align-items: center; 
    } 
    .movie { 
        margin: 10px 0; 
    } 
}

@media (max-width: 992px) {
    .most-viewed {
        width: 100%;
    }
}

@media (min-width:992px) {
    .most-viewed {
        margin: 15px;
        margin-left: -10px;
    }
}